* {
    font-style: italic;text-align:center;
    background-color:rgb(19, 32, 67); 
    color:rgb(253, 240, 240);
    
}

h1 {
    
    text-shadow: 1px 1px 2px black,0 0 25px rgb(101, 39, 190), 0 0 25px rgb(69, 207, 221);
}
h2 { 
    text-shadow: 1px 1px 2px black,0 0 25px rgb(101, 39, 190), 0 0 25px rgb(69, 207, 221);
    
    color: rgb(253, 240, 240);
}

h3{
    
    text-shadow: 1px 1px 2px black,0 0 25px rgb(101, 39, 190), 0 0 25px rgb(69, 207, 221);
}



div {
    border: 5px dotted rgb(241, 180, 187);
    margin: 50px;
}

div.div2 {
    border: 5px dotted rgb(241, 180, 187);
    padding-bottom: 15px;
    margin: 50px;
    }


div.div10 {
    border: 5px dotted rgb(241, 180, 187);
    margin: 50px;
    padding-bottom: 45px;
}

div.div11 {
    border: 5px dotted rgb(241, 180, 187);
    margin: 50px;
    padding-bottom: 50px;
}
